* {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
    font-weight: bold;
}

body {
    background: url(/images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #d8d8d8;
    font-weight: bold;
}

.relative {
    position: relative;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.button {
    margin-top: 15px;
}

/* Background blue */

h3 {
    color: #f3f3f3;
}

.loginback {
    padding: 50px;
    background: #ffffffe3;
    color: #253043e3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.loggedin {
    color: #253043e3;

}

.mainbackground {
    padding: 50px;
    background: #253043e3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 920px;
}

.signuptext {
    line-height: 2em;
    width: 49%;
    box-sizing: border-box;
    display: inline-table;
    padding: 50px;
}

.logintext {
    line-height: 2em;
    width: 49%;
    box-sizing: border-box;
    display: inline-table;
    padding: 50px;
    padding-left: 75px;
    /* height: 393px; */
}

hr.solid {
    border: 1px solid #49abfe;
    width: 12%;
    margin: 30px 0;
}

hr.full {
    border: 1px solid #49abfe;
    width: 100%;
    margin: 30px 0;
}

.signup {
    background-color: transparent;
    border: 3px solid #49abfe;
    border-radius: 30px;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 10px;
    transition: .5s;
    outline: none;
    font-weight: bold;
    cursor: default;
}

.signup:hover {
    background: #49abfe;
}


@media only screen and (min-width: 700px) {
    
    .mainbackground {
        width: 600px;
        padding: 50px;
    }
    
    .loginbox {
        margin: 125px 5%;
    }
    
    .signupbox {
        margin: 85px 5%;
    }
}

@media only screen and (min-width: 1000px) {
    
    .mainbackground {
        width: 920px;
    }

    .loginbox {
        margin: 75px 5%;
    }
    
    .signupbox {
        margin: 50px 5%;
    }
}



