/* White box */

.whitebox {
    position: absolute;
    top: -20px;
    width: 50%;
    height: 108%;
    background: white;
    color: black;
}

.loginbox {
    position: relative;
    margin: 75px 5%;
    padding: 50px;
}

.signupbox {
    position: relative;
    margin: 50px 5%;
    padding: 50px;
    display: none;
}

.login-text {
    font-size: 1.5em;
    display: inline;
}

.logo {
    position: absolute;
    right: 0;
}

hr.solidd {
    border: 1px solid #49abfe;
    width: 12%;
    margin: 30px 0;
}

/* FORM */

span {
    color: red;
}

.input-icon {
    position: absolute;
    right: 0;
    margin-top: 20px;
}

input[type=text], input[type=password] {
    margin-top: 10px;
    border: none;
    padding: 10px 0;
    width: 100%;
    outline: none;
    font-size: 1em;
    color: #3e495e;
}

input:focus + label {
    font-size: 1.2em;
    transition: .5s;
    text-transform: uppercase;
}
.input-has-value {
    font-size: 1.2em;
    transition: .5s;
    text-transform: uppercase;
}

label {
    color: #8495b7;
    transition: 1s;
    position: absolute;
    left: 0;
    font-size: 1.5em;
}

.button-yellow {
    background-color: #f89a35;
    border: 3px solid #f89a35;
    border-radius: 30px;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 10px;
    transition: .5s;
    outline: none;
    font-weight: bold;
    cursor: default;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.button-yellow:hover {
    background: #f8bf35;
    border: 3px solid #f8bf35;

}

/* White Box END */
